<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Home page</title>
    </head>
    <body>
        <h1>Hello, {{username}} !</h1>
        <h1>Hello, {{username | upper}} !</h1>
        <h1>Hello, {{username | lower}} !</h1>
        <h2>{{weight | fixed:3}}</h2>

        {{ if username == "PodPak" }}
            <h1>Conditional HTML when username == "PodPak"</h1>
            <h2>Inside conditions are not supported :/</h2>
        {{ endif }}
    </body>
</html>